<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=360, user-scalable=no">
<title>나아파</title>
<meta name="keyword" content="나아파">
<meta name="description" content="나아파">
<meta name="author" content="나아파">

<!-- css -->
<link rel="stylesheet" th:href="@{/user/css/reset.css}">
<link rel="stylesheet" th:href="@{/user/css/common.css}">
<link rel="stylesheet" th:href="@{/user/css/main.css}">
<link rel="stylesheet" th:href="@{/user/css/sub.css}">
<link rel="stylesheet" th:href="@{/user/swiper/css/swiper.css}">

<!-- script -->
<script th:src="@{/user/scripts/jquery-3.1.1.min.js}"></script>
<script th:src="@{/user/scripts/script.js}"></script>
<script th:src="@{/user/swiper/js/swiper.js}"></script>
<script type="module" th:src="@{/user/scripts/index.js}"></script>

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>