<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:include="common/admin_library_header"></th:block>
</head>

<body>

    <!-- HEADER -->
    <header id="admin_notification_header">
        <th:block th:include="common/admin_header"></th:block>
    </header>


    <section id="admin_notification">
        <div class="inner">
            <div class="title">
                <h2>알림관리</h2>
                <button>
                    <a href="/admin/notification02">알림등록</a>
                </button>
            </div>

            <div class="box01">
                <ul>
                    <li>
                        전체알림 <span>5</span>건
                    </li>
                    <li>
                        진행중인 알림 <span>2</span>건
                    </li>
                    <li>
                        중지된 알림 <span>3</span>건
                    </li>
                </ul>
            </div>

            <div class="box02">
                <div class="status">
                    <span>알림상태</span>
                    <div class="buttons">
                        <button>진행중</button>
                        <button>중지</button>
                    </div>
                </div>
                <div class="sort">
                    <span>발송형식</span>
                    <div class="buttons">
                        <button>자동발송</button>
                        <button>수동발송</button>
                    </div>
                </div>
                <div class="search">
                    <span>검색</span>
                    <input type="text" placeholder="알림명 검색">
                    <div class="buttons">
                        <button>검색</button>
                    </div>
                </div>
            </div>

            <div class="box03">
                <div class="left">
                    <span class="margin">검색결과 <span class="bold">5</span>건</span>
                    <button>선택 전체삭제</button>
                    <button>선택삭제</button>
                </div>

                <div class="right">
                    <select name="howmany">
                        <option value="10개씩 보기">10개씩 보기</option>
                        <option value="30개씩 보기">30개씩 보기</option>
                        <option value="50개씩 보기">50개씩 보기</option>
                        <option value="100개씩 보기">100개씩 보기</option>
                    </select>

                    <button>
                        <span class="material-symbols-outlined">description</span>
                        <span>엑셀 다운로드</span>
                    </button>
                </div>
            </div>

            <div class="box04">
                <table class="product-table">
                    <caption class="hidden">알림관리</caption>
                    <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" checked>
                            </th>
                            <th scope="col">번호</th>
                            <th scope="col">상태</th>
                            <th scope="col">알림명</th>
                            <th scope="col">발송형식</th>
                            <th scope="col">발송시점</th>
                            <th scope="col">등록일</th>
                            <th scope="col">알림중지</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>05</td>
                            <td>진행중</td>
                            <td>결제 완료 알림</td>
                            <td>자동발송</td>
                            <td>리뷰 답변 완료시점</td>
                            <td>2023. 03. 01</td>
                            <td>
                                <button>중지</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>04</td>
                            <td>진행중</td>
                            <td>결제 완료 알림</td>
                            <td>자동발송</td>
                            <td>결제완료 완료시점</td>
                            <td>2023. 03. 01</td>
                            <td>
                                <button>중지</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>03</td>
                            <td>중지</td>
                            <td>결제 완료 알림</td>
                            <td>수동발송</td>
                            <td>택배발송 시점</td>
                            <td>2023. 03. 01</td>
                            <td>2023. 02. 07</td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>02</td>
                            <td>진행중</td>
                            <td>결제 완료 알림</td>
                            <td>수동발송</td>
                            <td>로그인이력 6개월 유지 시점</td>
                            <td>2023. 03. 01</td>
                            <td>
                                <button>중지</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>01</td>
                            <td>진행중</td>
                            <td>결제 완료 알림</td>
                            <td>자동발송</td>
                            <td>택배사 발송완료 시점</td>
                            <td>2023. 03. 01</td>
                            <td>
                                <button>중지</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                <a href="#" class="prev">
                    <span class="material-symbols-outlined">
                        chevron_left
                    </span>
                </a>

                <p class="numbers">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">
                        <span class="bold">4</span>
                    </a>
                    <a href="#">5</a>
                </p>

                <a href="#" class="next">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </a>
            </div>
        </div>
    </section>


</body>

</html>