<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:include="common/admin_library_header"></th:block>
</head>

<body>

    <!-- HEADER -->
    <header id="admin_product_header">
        <th:block th:include="common/admin_header"></th:block>
    </header>


    <section id="admin_product02">
        <div class="inner">
            <div class="title">
                <h2>상품등록</h2>
            </div>

            <div class="admin_product02__wrap">
                <label for="productName" class="productName">
                    <p> <span>*</span> 상품명</p>
                    <input type="textbox" name="productName" value="상품명을 입력해주세요." id="productName">
                </label>

                <label for="sort">
                    <p> <span>*</span> 분류</p>
                    <select name="sort" id="sort">
                        <p>분류</p>
                        <option value="봄과일">봄과일</option>
                        <option value="여름과일">여름과일</option>
                        <option value="가을과일">가을과일</option>
                        <option value="겨울과일">겨울과일</option>
                    </select>
                </label>

                <label for="price">
                    <p> <span>*</span> 상품금액</p>
                    <input type="textbox" name="price" value="0" id="price">
                    원
                </label>

                <label for="discount">
                    <p> 상품할인율 </p>
                    <input type="textbox" name="discount" value="0" id="discount">
                    %
                </label>

                <label for="totalPrice" class="totalPrice">
                    <p> 할인적용 후 금액 </p>
                    <input type="textbox" name="totalPrice" value="0" id="totalPrice">
                    원
                </label>

                <label for="stock">
                    <p> <span>*</span> 재고수량 </p>
                    <input type="textbox" name="stock" value="0" id="stock">
                    원
                </label>

                <label for="productPicture" class="productPicture">
                    <p> <span>*</span> 상품이미지 </p>
                    <div>+ 추가</div>
                    <input type="file" name="productPicture" id="productPicture" accept="image/*">
                    <img th:src="@{/admin/img/이미지위치.png}" alt="미리보기 이미지">
                </label>


                <label for="description" class="description">
                    <p> <span>*</span> 상품 상세정보 </p>
                    <input type="textbox" name="description" id="description">
                </label>

            </div>

            <div class="buttons">
                <button>취소하기</button>
                <button>등록하기</button>
            </div>
        </div>
    </section>


</body>

</html>