<html lang="ko">
<head>

    <th:block th:include="common/library_header"></th:block>

</head>
<body class="suit">
    <div class="content">
        <div class="intro">
            <div class="img">
                <img src="./user/images/logo.png" alt="">
            </div>
            <p>스플래쉬 카피미정</p>
        </div>
    </div>

</body>
</html>

<script>
    function introMove() {
        // $('.intro').hide();
        location.replace('agree');
    }

    setTimeout(introMove, 3000);           
    clearTimeout(introMove);   
  </script>