<html lang="ko">
<head>

    <th:block th:include="common/library_header"></th:block>

</head>
<body class="suit">
    <div class="content">
        <div class="con">
            <div class="wrap pb-100">
                <div class="result_page">
                    <div class="img">
                        <img th:src="@{/user/images/regi.png}" alt="">
                    </div>
                    <div class="txt">
                        <h5>
                            결제 수단을 등록해 주세요
                        </h5>
                        <p>
                            지금 결제 수단 등록 시 더욱 더 간편하게
                            진료를 받으실 수 있습니다.                        
                        </p>
                    </div>
                    <div class="btn">
                        <a href="#">
                            신용카드 등록
                            <i><img th:src="@{/user/images/plus_blue.png}" alt=""></i>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li>
                    <a href="../">
                        <i>
                            <img th:src="@{/user/images/nav1.png}" alt="">
                        </i>
                        <p>병원검색</p>
                    </a>
                </li>
                <li>
                    <a href="./reserv_select">
                        <i>
                            <img th:src="@{/user/images/nav2.png}" alt="">
                        </i>
                        <p>진료예약</p>
                    </a>
                </li>
                <li>
                    <a href="./cs">
                        <i>
                            <img th:src="@{/user/images/nav3.png}" alt="">
                        </i>
                        <p>비대면 상담예약</p>
                    </a>
                </li>
                <li>
                    <a href="./my">
                        <i>
                            <img th:src="@{/user/images/nav4.png}" alt="">
                        </i>
                        <p>마이페이지</p>
                    </a>
                </li>
            </ul>
        </div>
        <footer>

        </footer>
    </div>

    
</body>
</html>